@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0;}

html{scroll-behavior: smooth;}

body{font-family: 'Jost';}
a{text-decoration: none; color: #fff;}
main{background-color: var(--cor7); padding-bottom: 100px;}
img{width: 100%; object-fit: cover;}

.container{margin: auto; max-width: 1280px;}

nav{background-color: #04001c; max-width: 100%;}
.nav-container{display: flex; justify-content: space-between; align-items: center;}
nav h1{color: #fff}
.nav-title{ font-weight: lighter; font-size: 40px; padding: 10px 30px; }
.nav-itens{ margin-inline: 30px; font-size: 25px; transition: .5s;}
.nav-itens:hover{ color: var(--cor4);}

/* header */
.Banner{max-width: 100%; display: flex; justify-content: center; padding: 150px 0;}
.banner-div{display: flex; flex-direction: column; align-items: center;}
.banner-div p{color: var(--cor3); font-size: 2em; text-align: center;}
.banner-div h1{color: var(--cor4); font-size: 3em; margin-bottom: 50px; text-align: center;}
.banner-div a{padding: 20px 60px; font-size: 1.6rem; background-color: var(--cor1); transition: .3s;}
.banner-div a:hover{font-size: 2rem; background-color: #00000000;}
.crosshair {
    .link-effect-14 {
       a {
          color: var(--cor3);
          padding: 10px 20px;
          position: relative;
          overflow: hidden;
          display: inline-block;
          transition: .3s ease-out;
          span{
             &::before{
                width: 5px;
                height: 5px;
                background: transparent;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                border-top: 2px solid var(--cor1) ;
                border-left: 2px solid  var(--cor1);
                transition: .3s;
                opacity: 0;
             }
             &::after{
                width: 5px;
                height: 5px;
                background: transparent;
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                border-right: 2px solid  var(--cor1);
                border-bottom: 2px solid  var(--cor1);
                transition: .3s;
                opacity: 0;
 
             }
          }
          &::before {
             width: 5px;
             height: 5px;
             background: transparent;
             content: "";
             position: absolute;
             right: 0;
             top: 0;
             border-right: 2px solid  var(--cor1);
             border-top: 2px solid  var(--cor1);
             transition: .3s;
             opacity: 0;
          }
          &::after {
             width: 5px;
             height: 5px;
             background: transparent;
             content: "";
             position: absolute;
             left: 0;
             bottom: 0;
             border-left: 2px solid var(--cor1);
             border-bottom: 2px solid var(--cor1);
             transition: .3s;
             opacity: 0;
          }
          &:hover{  
             color:  var(--cor3);
             &::before{
                opacity: 1;
                right: 5px;
                top: 5px;
             }
             &::after{
                opacity: 1;
                left: 5px;
                bottom: 5px;
             }
             span{
                &::before{
                   opacity: 1;
                   left: 5px;
                   top: 5px;
                }
                &::after{
                   opacity: 1;
                   right: 5px;
                   bottom: 5px;
                }
             }
          }
       }
    }
 }

/* Sobre */
.sobre{max-width: 100%; padding: 100px 0;}

.sobre h1{color: #fff; font-size: 2.8em; padding: 80px 30px; text-align: center;}
.sobre-div{ display: flex; justify-content: space-between;}
.sobre-div p{color: var(--cor3);margin-left: 30px; font-size: 1.5em; border-left: #fff solid 2px; padding-left: 20px; min-height: 300px; text-align: justify;}
.sobre-div img{display: flex;}

/* Habilidades */
.habil{max-width: 100%; padding: 100px 0;}

.habil h1{color: #fff; font-size: 2.8em; padding: 80px 30px; text-align: center;}


/* Trabalhos */
.trabalhos{max-width: 100%;}
.trabalhos h1{color: #fff; font-size: 2.8em; padding: 80px 30px 0 30px; text-align: center;}
ul{list-style-type: none;}
.projetos{display: flex;max-width: 100%; flex-direction: row; justify-content: space-around; margin-top: 50px;flex-wrap: wrap; gap: 50px; padding: 100px 0;}
.proj-container{background-color: transparent; border-radius: 20px; width: 500px; padding: 20px; border: 2px solid  var(--cor4); display: block; transition: .3s;}
.proj-container:hover{transform: scale(1.05); background-color: #ffffff08;}
.proj-container p{font-size: 2rem; color: white; margin-block:25px;}
.proj-img{object-fit: contain; width: 100%; border-radius: 10px;}


/* Contato*/
.contato{max-width: 100%; padding: 100px 0;}

.contato h1{color: #fff; font-size: 2.8em; padding: 80px 30px; text-align: center;}

/* Footer */
footer{background-color: var(--cor2); color: #fff; text-align: center; padding: 20px;}
.footer-container{display: flex; height: 150px; flex-direction: column; justify-content: space-around;}
.fa-whatsapp,.fa-instagram,.fa-github{font-size: 45px;margin-inline: 20px; transition: .1s;}
.footer-icons{display: flex; justify-content: center;}
.fa-instagram:hover,.fa-whatsapp:hover,.fa-github:hover{color: var(--cor4); cursor: pointer; transform: translateY(-2px);}


/* @media (max-width: 1150px) {
    .sobre-div{ display: flex;}
    .sobre-div p{font-size: 1.3em;}
    
}

@media (max-width: 1000px) {
    .sobre h1{color: #fff; font-size: 2.8em; padding: 80px 30px;}
    .sobre-div{display: flex;}
    .sobre-div p{font-size: 1.1em; min-height: fit-content; max-width: 700px; margin: auto;}
    .sobre-div img{display: none;}
    
}
*/

@media (max-width: 800px) {
   .projetos{flex-direction: column;}
   .proj-container{margin: 20px; display: flex; flex-direction: column;}
} 


:root{
    --cor1: #7102DC;
    --cor2: #04001c;
    --cor3: #e9e9e9;
    --cor4: #2870ff;
    --cor5: #0f1d3c;
    --cor6: #0a0a0a;
    --cor7: #181818;
}