@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0;}

html{scroll-behavior: smooth;}

body{ font-family: 'Jost'; }
a{text-decoration: none; color: #fff;}

nav{background-color: #000; max-width: 100%; border-bottom: solid 5px var(--cor1);}
.nav-container{display: flex; justify-content: space-between; align-items: center;}
nav h1{color: #fff}
.nav-title{ font-weight: lighter; font-size: 40px; padding: 10px 30px; }
.nav-itens{ margin-inline: 30px; font-size: 25px; transition: .5s;}
.nav-itens:hover{ color: var(--cor4);}


main{background-color: var(--cor7);}

.Banner{height: 90vh; max-width: 100%; display: flex; align-items: center; justify-content: space-between;}
.banner-div{margin-left: 30px;}
.banner-div p{color: var(--cor3); font-size: 2em;}
.banner-div h1{color: var(--cor4); font-size: 5em; margin-bottom: 50px;}
.banner-div a{color: #fff; background-color: #00607e; padding: 20px 60px; box-shadow: 0px 4px 80.9px 37px rgba(255, 255, 255, 0.07); border-radius: 20px; transition: .1s;}
.banner-div a:hover{ padding: 25px 65px; background-color: #1e1555;}
.bannerimg{}

.sobre{height: 100vh; max-width: 100%;}

.sobre h1{color: #fff; font-size: 3em; padding: 90px 30px;}
.sobre-div{ display: flex; justify-content: space-between;}
.sobre-div p{color: var(--cor3);margin-left: 60px; font-size: 1.5em; border-left: #fff solid 2px; padding-left: 20px;}
.sobre-div img{display: flex;}

footer{background-color: var(--cor2); color: #fff; text-align: center;}
.footer-container{display: flex; height: 150px; flex-direction: column; justify-content: space-around;}
.fa-instagram{font-size: 45px; margin-right: 50px; transition: .1s;}
.fa-bluesky{font-size: 45px; margin-left: 50px; transition: .1s;}

.fa-bluesky:hover, .fa-instagram:hover{color: var(--cor4); cursor: pointer;}
.footer-icons{display: flex; justify-content: center;}


:root{
    --cor1: #7102DC;
    --cor2: #04001c;
    --cor3: #e9e9e9;
    --cor4: #2870ff;
    --cor5: #0f1d3c;
    --cor6: #0a0a0a;
    --cor7: #181818;
}